<form method="POST" action="/recipes">
  <p>Your Recipe: <input type="text" name="name"></p>
  <p>Describe it !: <input type="text" name="description"></p>
  <p>Rate it !: <input type="number" name="rating" min="0" max="5"></p>
  <p>Preparation time (in minutes) ?: <input type="number" name="prep_time" min="0"></p>

  <input type="submit">
</form>

<br><p> <a href="<%=:/%>"> Back to the Cookbook. </a></p>
