<form>
  Recipe's name<input ... name="recipe[name]" />
  <br>Recipe's description<input ... name="recipe[description]" />
  <br>Recipe's rating<input ... name="recipe[rating]" />
  <br>Time of preparation<input ... name="recipe[prep-time]" />
</form>

<br><p> <a href="<%=:/%>"> Back to the Cookbook. </a></p>
